:root {
  --main-color: #67B85D;
  --background-color: #FFFFFF;
  --font-color: #1A1A1A;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Libre Baskerville", serif;
}

.btn-default {
  background-color: var(--main-color);
}